@charset "utf-8";

// ============================================================
// MediaQuery Width
// ============================================================
$width-br1320: 1320px;
$width-pc: 768px;
$width-tablet: 768px;
$width-tablet1: 768px;
$width-smartphone: 767px;


// ----------------------------------------------------------------------
// MediaQuery
// ----------------------------------------------------------------------

@mixin pc {
	// PC表示
	@media only screen and (min-width: $width-tablet) {
		@content;
	}
}

@mixin tablet {
	// タブレット表示
	@media only screen and (min-width: $width-smartphone ) and (max-width: $width-tablet) {
		@content;
	}
}

@mixin tablet1 {
	// タブレット表示 1段階目(大)
	@media only screen and (min-width: $width-tablet2) and (max-width: $width-tablet1) {
		@content;
	}
}

// @mixin tablet2 {
// 	// タブレット表示 2段階目(小)
// 	@media only screen and (min-width: $width-smartphone + $width-scrollbar) and (max-width: $width-tablet2 + $width-scrollbar - 1) {
// 		@content;
// 	}
// }

@mixin sp {
	// スマートフォン表示
	@media only screen and (max-width: $width-smartphone) {
		@content;
	}
}


