@charset "utf-8";
@import "_mediaquery";
@import "_variables";

//color
// $main : #fff;

//font
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Forum&family=Poppins:wght@400;500;600&display=swap');
// $Forum: 'Forum', cursive;
// $Poppins: 'Poppins', sans-serif;
// $Courier: 'Courier Prime', monospace;
body {
    font-family: 'Poppins',"Hiragino Kaku Gothic ProN","游ゴシック体","Yu Gothic",YuGothic,"Noto Sans JP","ヒラギノ角ゴ ProN W3","メイリオ",Meiryo,sans-serif;
	line-height: 1.4;
    color: #fff;
    overflow-x: hidden;
    background-color: #5D5D5D;
}
.courier {
    font-family: 'Courier Prime', monospace;
}
.forum {
    font-family: 'Forum', cursive;
}

//display
.sp-invisible {
    display: block;
    @include sp {
        display: none !important;
    }
}
.sp-visible {
    display: none;
    @include pc {
        display: none !important;
    }
}